.footer-columns{
    display: flex;
}

.footer-column{
    flex: 50%;
    margin: 20px;
}

.AAA {
    background-color: aliceblue;
    display: flex;
    margin-bottom: 20px;
}

.AAA p {
    font-size: 30px;
    margin-bottom: 20px;
}

header, footer{
    background-color: antiquewhite;
    padding: 10px;
}

header a {
    text-decoration: none;
    color: rgb(98, 188, 218);
    font-size: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

a:hover {
    background-color: antiquewhite;
    color: red;
}

main{
    padding: 10px;
    background-color: rgb(232, 192, 140);
}

main p {
    margin-left: 200px;
    margin-right: 200px;
    font-size: 30px;
}

.post{
    background-color: rgb(210, 137, 41);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
}

.posta{
    background-color: rgb(210, 137, 41);
    padding: 20px;
    margin-bottom: 20px;
}

.post img{
    margin: 20px;
}
